body {
    background: #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
}

.container {
    position: relative;
    display: inline-block;
}

video, canvas {
    width: 90vw;
    max-width: 500px;
    border-radius: 10px;
}

.about-box {
    background: #111;
    padding: 20px;
    margin: 20px auto;
    width: 90vw;
    max-width: 500px;
    border-radius: 10px;
    text-align: left;
    color: #fff;
    line-height: 1.6;
    border: 1px solid #333;
}
